                                        /* Navigation bar */

                                        #logo {
                                            margin: 1.000em;
                                            float: left;
                                            background: url(TRA_Logo_Stacked_RGB_1200dpi.jpg) no-repeat center;
                                            display: block;
                                        }

                                        @import "compass/css3";
                                        .navigation {
                                            list-style: none;
                                            margin: 0;
                                            background: white;
                                            display: -webkit-box;
                                            display: -moz-box;
                                            display: -ms-flexbox;
                                            display: -webkit-flex;
                                            display: flex;
                                            -webkit-flex-flow: row wrap;
                                            justify-content: flex-end;
                                        }

                                        .navigation a {
                                            text-decoration: none;
                                            display: block;
                                            padding: 1em;
                                            color: darkgreen;
                                        }

                                        .navigation a:hover {
                                            background: darken(black, 2%);
                                        }

                                        @media all and (max-width: 50em) {
                                            .navigation {
                                                justify-content: space-around;
                                            }
                                        }

                                        @media all and (max-width: 37.500em) {
                                            .navigation {
                                                -webkit-flex-flow: column wrap;
                                                flex-flow: column wrap;
                                                padding: 0;
                                            }
                                            .navigation a {
                                                text-align: center;
                                                padding: 0.625em;
                                                border-top: 0.063em solid rgba(255, 255, 255, 0.3);
                                                border-bottom: 0.050em solid rgba(0, 0, 0, 0.1);
                                            }
                                            .navigation li:last-of-type a {
                                                border-bottom: none;
                                            }
                                        }

                                        .form {
                                            position: relative;
                                        }

                                        input {
                                            line-height: 3em;
                                            font-size: 0.900em;
                                            padding-left: 0.500em;
                                            color: darkgreen;
                                            font-family: nexa;
                                            outline: none;
                                            border: 0.250em solid #ccc;
                                            border-radius: 1.000em;
                                        }

                                        .search {
                                            position: absolute;
                                            top: 0.750em;
                                            right: 0.750em;
                                        }

                                        .fa-search {
                                            color: #999;
                                            transition: all 0.5s ease;
                                            &:hover {
                                                color: #666;
                                                transform: scale(1.1);
                                            }
                                        }

                                        body {
                                            background-image: url(Austria-Hallstatt-Postcard-Snow-Winter.jpg);
                                            background-size: 100% 100%;
                                            background-repeat: no-repeat;
                                            margin: 0;
                                            text-align: center;
                                            font-family: Nexa;
                                        }

                                        h1 {
                                            text-align: center;
                                        }

                                        .container {
                                            width: 90%;
                                            margin: 0 auto;
                                        }
                                        /* Filter */

                                        input[type="radio"] {
                                            display: none;
                                        }

                                        label {
                                            width: 23%;
                                            float: left;
                                            text-align: center;
                                            background: blue;
                                            box-shadow: 0 0.050em 0.150em rgba(0, 0, 0, 0.12), 0 0.050em 0.100em rgba(0, 0, 0, 0.24);
                                            color: #222222;
                                            padding: 0.5%;
                                            margin: 0.5%;
                                            margin-bottom: 1.875em;
                                            cursor: pointer;
                                            border-radius: 5.625em;
                                        }

                                        input[type="radio"][id="blue"]:checked + label {
                                            background: darkgreen;
                                        }

                                        input[type="radio"][id="blue"]:checked ~ .white,
                                        input[type="radio"][id="blue"]:checked ~ .green {
                                            width: 0;
                                            height: 0;
                                            padding: 0;
                                            margin: 0;
                                            opacity: 0;
                                        }

                                        input[type="radio"][id="red"]:checked + label {
                                            background: darkgreen;
                                        }

                                        input[type="radio"][id="red"]:checked ~ .white,
                                        input[type="radio"][id="red"]:checked ~ .green {
                                            width: 0;
                                            height: 0;
                                            padding: 0;
                                            margin: 0;
                                            opacity: 0;
                                        }

                                        input[type="radio"][id="green"]:checked + label {
                                            background: darkgreen;
                                        }

                                        input[type="radio"][id="green"]:checked ~ .white,
                                        input[type="radio"][id="green"]:checked ~ .red {
                                            width: 0;
                                            height: 0;
                                            padding: 0;
                                            margin: 0;
                                            opacity: 0;
                                        }

                                        .tile {
                                            width: 15%;
                                            height: 100px;
                                            float: left;
                                            transition: all 1s;
                                            margin: 0.5%;
                                            padding: 0.5%;
                                            border-radius: 1.625em;
                                            color: black;
                                            Font: Nexa;
                                        }

                                        .green {
                                            background: white;
                                            border-radius: 1.625em;
                                            font: center;
                                        }

                                        .blue {
                                            background: white;
                                            border-radius: 1.625em;
                                        }

                                        .red {
                                            background: white;
                                            border-radius: 1.625em;
                                        }

                                        @media only screen and (max-width: 640px) {
                                            header {
                                                position: absolute;
                                            }
                                            #menu-icon {
                                                display: inline-block;
                                            }
                                            nav ul,
                                            nav:active ul {
                                                display: none;
                                                position: absolute;
                                                padding: 20px;
                                                background: #fff;
                                                border: 5px solid #444;
                                                right: 20px;
                                                top: 60px;
                                                width: 50%;
                                                border-radius: 4px 0 4px 4px;
                                            }
                                            nav li {
                                                text-align: center;
                                                width: 100%;
                                                padding: 10px 0;
                                                margin: 0;
                                            }
                                            nav:hover ul {
                                                display: block;
                                            }
                                            body {
                                                background-image: url(Austria-Hallstatt-Postcard-Snow-Winter.jpg);
                                                background-size: 100% 100%;
                                                background-repeat: no-repeat;
                                                margin: 0 auto;
                                                text-align: center;
                                                font-family: Nexa;
                                                margin-bottom: 5%;
                                                margin-left: 4%;
                                                margin-right: 4%;
                                            }
                                            .container {
                                                width: 200%;
                                                margin: 1.000em auto;
                                                padding: inherit
                                                
                                                display: flex;
                                                flex-direction: column;
                                                float: left;
                                            }
                                            .tile {
                                                width: 23%;
                                                height: 100px;
                                                margin: 0.5%;
                                                padding: 0.5%;
                                                border-radius: 1.625em;
                                                color: black;
                                                Font: Nexa;
                                                text-align: center;
                                                justify-content: space-around;
                                                -webkit-flex-flow: column wrap;
                                                flex-flow: column wrap;
                                                padding: 0.200em;
                                                margin-left: 0.400em;
                                            }
                                        }
